.container {
    background-color: var(--color-dark-dark);
    padding: 14px 32px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.list {
    display: flex;
    gap: 40px;
}

.activeLink {
    font-weight: bold;
}

