.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.content {
    background-color: var(--color-gray-900);
    padding: 18px 24px;
    border-radius: 4px;
    position: relative;

    width: 746px;
    height: 780px;

    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
    color: var(--color-light-light);

    display: flex;
    flex-direction: column;
}


.header {
    margin-bottom: 16px;
    flex-shrink: 0;
}

.header h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.body {
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;
    margin-top: 24px;
    flex-shrink: 0;
}

.footer button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
}


.footer button:not(:disabled):hover {
    transform: scale(1.02);
}


.footer button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.btnCancel {
    background-color: transparent;
    color: #b3b3b3;
    border: 1px solid #727272;
}

.btnCancel:not(:disabled):hover {
    color: #fff;
    border-color: #fff;
}

.btnSave {
    background-color: #1db954;
    color: #000;
    border: none;
}

.btnSave:not(:disabled):hover {
    background-color: #1ed760;
}


.closeButton {
    position: absolute;
    top: 24px;
    right: 30px;

    width: 14px;
    height: 14px;

    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.closeButton::before,
.closeButton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--color-light-light);
    border-radius: 1px;
}

.closeButton::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.closeButton::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.closeButton:hover {
    transform: scale(1.1);
}

.closeButton:hover::before,
.closeButton:hover::after {
    background-color: var(--color-gray-400);
}
