.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 264px;
    min-width: 190px;
    padding: 8px;
    background-color: color-mix(in srgb, var(--color-gray-950) 60%, transparent);
}

.cover {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 248 / 153;
    object-fit: cover;
    transition: opacity 0.2s ease;
}

@media (max-width: 768px) {
    .cover {
        aspect-ratio: 174 / 153;
    }
}

.actionButton {
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid #7f7f7f;
    padding: 4px 8px;
    color: var(--color-light-light);
    cursor: pointer;
    transition: color 0.2s ease;
}

.buttonsWrapper {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    width: 100%;
}


