
.main {
    max-width: 1730px;
    margin: 0 auto;
}

.layout {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 80px);
    background-color: var(--color-dark-dark);
    margin: 0;
    padding: 0;
}

.progressWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.content {
    flex-grow: 1;
    background-color: var(--color-dark-dark);
    min-width: 0;
}

@media (max-width: 767px) {
    .layout {
        flex-direction: column;
        min-height: calc(100vh - 60px);
    }

    .content {
        padding: 16px;
        margin-bottom: 70px;
        background-color: #ffffff;
    }
}
